In [1]:
import pandas as pd
import requests
from datetime import datetime, date, timedelta

In [2]:
url = "https://aerodatabox.p.rapidapi.com/airports/search/location"

querystring = {"lat":"51.2024","lon":"12.223","radiusKm":"50","limit":"10","withFlightInfoOnly":"true"}

headers = {
	"X-RapidAPI-Key": "DO_NOT_FORGET_TO_PUT_YOUR_KEY_HERE",
	"X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

print(response.json())

{'searchBy': {'lat': 51.2024, 'lon': 12.223}, 'count': 1, 'items': [{'icao': 'EDDP', 'iata': 'LEJ', 'name': 'Leipzig Halle', 'shortName': 'Halle', 'municipalityName': 'Leipzig', 'location': {'lat': 51.4324, 'lon': 12.2416}, 'countryCode': 'DE'}]}

In [3]:
resp = response.json()
airports_l = response.json()
pd.json_normalize(airports_l['items'])

,icao,iata,name,shortName,municipalityName,countryCode,location.lat,location.lon
0,EDDP,LEJ,Leipzig Halle,Halle,Leipzig,DE,51.4324,12.2416

In [4]:
airports_l = pd.json_normalize(airports_l["items"])[["icao", "name", "countryCode", "location.lat", "location.lon"]]
airports_l = airports_l.rename(columns={"icao": "airport_icao", "name": "airport_name", "countryCode": "country_code", "location.lat": "latitude", "location.lon": "longitude"})
airports_l

  airport_icao   airport_name country_code  latitude  longitude
0         EDDP  Leipzig Halle           DE   51.4324    12.2416

In [5]:
url = "https://aerodatabox.p.rapidapi.com/airports/search/location"

querystring = {"lat":"51.0300","lon":"13.4424","radiusKm":"50","limit":"10","withFlightInfoOnly":"true"}

headers = {
	"X-RapidAPI-Key": "DO_NOT_FORGET_TO_PUT_YOUR_KEY_HERE",
	"X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

print(response.json())

{'message': 'You have exceeded the MONTHLY quota for Tier 2 on your current plan, PRO. Upgrade your plan at https://rapidapi.com/aedbx-aedbx/api/aerodatabox'}

In [50]:
resp = response.json()
airports_d = response.json()
pd.json_normalize(airports_d['items'])

KeyError: 'items'

In [ ]:
airports_d = pd.json_normalize(airports_d["items"])[["icao", "name", "countryCode", "location.lat", "location.lon"]]
airports_d = airports_d.rename(columns={"icao": "airport_icao", "name": "airport_name", "countryCode": "country_code", "location.lat": "latitude", "location.lon": "longitude"})
airports_d

In [6]:
url = "https://aerodatabox.p.rapidapi.com/airports/search/location"

querystring = {"lat":"50.0638","lon":"08.4056","radiusKm":"50","limit":"10","withFlightInfoOnly":"true"}

headers = {
	"X-RapidAPI-Key": "DO_NOT_FORGET_TO_PUT_YOUR_KEY_HERE",
	"X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

print(response.json())

{'message': 'You have exceeded the MONTHLY quota for Tier 2 on your current plan, PRO. Upgrade your plan at https://rapidapi.com/aedbx-aedbx/api/aerodatabox'}

In [ ]:
resp = response.json()
airports_f = response.json()
pd.json_normalize(airports_f['items'])

In [ ]:
airports_f = pd.json_normalize(airports_f["items"])[["icao", "name", "countryCode", "location.lat", "location.lon"]]
airports_f = airports_f.rename(columns={"icao": "airport_icao", "name": "airport_name", "countryCode": "country_code", "location.lat": "latitude", "location.lon": "longitude"})
airports_f

In [ ]:
airports = pd.concat([airports_l, airports_d, airports_f])

In [49]:
airports["city_id"] = [1,2,3]

   city_id airport_icao        airport_name country_code  latitude  longitude
0        1         EDDP       Leipzig Halle           DE   51.4324  12.241600
0        2         EDDC            Dresden            DE   51.1328  13.767200
0        3         EDDF  Frankfurt-am-Main            DE   50.0264   8.543129

In [43]:
airports = airports[['city_id', 'airport_icao', 'airport_name', 'country_code', 'latitude', 'longitude']]
airports

   city_id airport_icao        airport_name country_code  latitude  longitude
0        1         EDDP       Leipzig Halle           DE   51.4324  12.241600
0        2         EDDC            Dresden            DE   51.1328  13.767200
0        3         EDDF  Frankfurt-am-Main            DE   50.0264   8.543129